body{
  background: #333;
  padding:0;
  margin:0;
}

.square {
    border-radius:0px;
}

.jumbotron{
    background:#001529;
    padding:35px 0;   
}


  @font-face {
    font-family: 'Unica One', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
  }

  
  .flux {
    font-family: 'Unica One', cursive;
    color: #f9fbfd;
    font-size:2.5vw;
    line-height: 2.5vw;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1)!important;

  }

  .pointer{
    cursor: pointer;
  }

  .ant-list-item-meta-title{
    color:whitesmoke;
  }

  .enroll{
    width: 50%;
  }

  .enroll svg{
    margin-top: -5px;
  }

  span.ant-progress-text{
    color:white!important;
  }

  .ant-progress-circle{
    color:white!important;
  }




  
  